.badge {
  color: aliceblue;
}

.input-tags.border-0.w-auto.flex-fill.input-tags {
  max-height: 0;
  max-width: 0;
}

.anticon svg {
  margin-bottom: 50%;
}

.ant-tag {
  font-size: inherit;
  padding-top: 1%;
  margin-top: 1%;
}
