.main-body{
    min-height:500px;
}
.fa-chevron-down{
    color: #70BDF2;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.title-home{
    color: #163F66;
}
.button-home{
    background-color: #163F66;
    color: #fff
}
.clear_filter{
    color:#163F66;
    text-decoration: none;
}
.clear_filter:hover{
    color:#163F66;
    text-decoration: underline;
}