.ant-layout-header {
    background:white;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}
svg{
    margin-top: -6px;
    margin-right: 5px;
}
.ant-form-item-label{
    font-weight: 600;
}
.ant-input {
    border: 1px solid #bbb3b3;
}

/* 
.announcement_button{
    margin-top: auto;
    margin-bottom: auto;
} */
.announcement_button button{
    margin-bottom: 10px;
}
.announcement_frame{
    margin-top: 40px;
    padding: 40px;
    background-color: white;
}
.announcement_card{
    /* border: 1px solid black; */
}


